@import '../../styles/utils/settings';

.ProductList {
    position: relative;
    width: 80%;
    margin: auto;

    &-categories {
        padding: 16px 0;
        font-size: 14px;
        color: $color-generic-gray;
        font-weight: bold;
        text-transform: capitalize;
    }
}